mixin widgetProyecto(nombre,fecha,link,img, tipo)
  .widgetProyecto
    .widgetProyecto_contenedorImg
      a(href=link, target="_blank")
        img.widgetProyecto_img(src= img)
    .widgetProyecto_contenedorTexto
      h4= nombre
      span= fecha
      <br>
      span(style="line-height: 3em")= tipo
      <br>
      a(href=link, target="_blank") Ver sitio
